{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    (<p><span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident error odio magni ad sed. Sint, iusto molestiae optio minus laudantium fugit quibusdam ratione deserunt obcaecati nemo expedita dicta possimus exercitationem similique nostrum cumque quis at. Quos nesciunt repellat temporibus quae fugiat, voluptatem mollitia. Tempore maiores dignissimos error repudiandae unde similique.</span><span>Molestiae, aliquid fugit debitis repellat at adipisci rem nesciunt illum in voluptas incidunt, voluptates, autem consequatur quisquam. Reiciendis quasi id, dolores modi tenetur velit illo corrupti unde magnam placeat iusto vel nemo ducimus aperiam molestiae consectetur voluptatibus. Cum aut consequatur amet minima perferendis aliquam dolores quidem nemo, a dolorem ipsum?</span></p>)
{% endblock %}
